@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 500;
  src: local("Bebas Neue Bold"),
    url("./fonts/BebasNeueBold.woff2") format("woff2");
}

@font-face {
  font-family: "Fjalla One";
  font-style: normal;
  font-weight: 300;
  src: local("Fjalla One Regular"),
    url("./fonts/FjallaOneRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Mukta-Regular.ttf");
}

@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Mukta-Bold.ttf");
}

@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 300;
  src: local("Karla Italic"), url("./fonts/KarlaItalic.woff2") format("woff2");
}
